body {
    font-family: consolas, courier new;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#authorZone {
    text-align: left;
}
